@charset "utf-8";
/*
 * File       : index.css
 * Author     : SMART GEO
 * Guideline  : -
 * Update : 2022-03-07
 *
 * SUMMARY:
 * 01) RESET
 * 02) CUSTOM
 */


/* **************************************** *
 * 01) RESET
 * **************************************** */

@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; box-sizing: border-box; }
img { -webkit-user-drag: none; }
@keyframes flipInX { 0% { transform: perspective(400px) rotateX(90deg); animation-timing-function: ease-in; opacity: 0; } 40% { transform: perspective(400px) rotateX(-20deg); animation-timing-function: ease-in; opacity: 1; } 60% { transform: perspective(400px) rotateX(10deg); opacity: 1; } 80% { transform: perspective(400px) rotateX(-5deg); opacity: 1; } to { transform: perspective(400px); opacity: 1; } }


/* **************************************** *
 * 02) CUSTOM
 * **************************************** */

/* SECTION */
#routing_root { width: 100%; height: 100%; overflow: hidden; background-color: #F9F9F9; }

/* PC GB */
#routing_root .m_layout { display: none; }
#routing_root .pc_layout { position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; }
#routing_root .pc_layout header { position: fixed; top: 0; left: 0; padding: 0; width: 100%; z-index: 5; display: flex; justify-content: flex-end;}
#routing_root .pc_layout header a { display: inline-block; }
#routing_root .pc_layout .content {background: url('https://cheongmac.blob.core.windows.net/common/bg_intro_routing.png') center center/cover no-repeat; width:100%; height: 100%; z-index: -1;}
#routing_root .pc_layout .content .menus { z-index: 1; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end; width: 100%; height: 100%; margin-top: 60px;}
#routing_root .pc_layout .content .menus .item { position: relative; width: 18%; margin-right: 3%; cursor: pointer; }
#routing_root .pc_layout .content .menus .item:last-child { margin-right: 0; }
#routing_root .pc_layout .content .menus .item img { width: 100%; }
#routing_root .pc_layout .content .menus .item .thumbnail { transition: all .5s; }
#routing_root .pc_layout .content .menus .item .thumbnail:hover { transform: translateY(-10%); }
#routing_root .pc_layout .content .menus .item .bg { position: absolute; z-index: -1; height: 30%; transform: rotate(336deg); transition: all .5s; }
#routing_root .pc_layout .content .menus .item.instagram .bg { bottom: 37%; left: -130%; width: 210%; background-color: #FFFFFF; }
#routing_root .pc_layout .content .menus .item.youtube .bg { top: -40%; left: 0; width: 370%; background-color: #FFFFFF; }
#routing_root .pc_layout .content .menus .item.blog .bg { bottom: 33%; left: 2%; width: 240%; background-color: #FFFFFF; }
#routing_root .pc_layout .content .menus .item .bg_icon { position: absolute; z-index: -1; }
#routing_root .pc_layout .content .menus .item .bg_icon.scale { transition: all .5s; transform: scale(1); }
#routing_root .pc_layout .content .menus .item.instagram .bg_icon._1 { left: -46%; top: -52%; width: 86%; }
#routing_root .pc_layout .content .menus .item.instagram .bg_icon._2 { left: -94%; top: 36%; width: 34%; }
#routing_root .pc_layout .content .menus .item.instagram .bg_icon._3 { left: -66%; top: 28%; width: 38%; }
#routing_root .pc_layout .content .menus .item.youtube .bg_icon._1 { right: -38%; top: -25%; width: 28%; }
#routing_root .pc_layout .content .menus .item.youtube .bg_icon._2 { right: -166%; top: -80%; width: 34%; }
#routing_root .pc_layout .content .menus .item.youtube .bg_icon._3 { right: -134%; top: -52%; width: 62%; }
#routing_root .pc_layout .content .menus .item.blog .bg_icon._1 { right: -100%; top: 10%; width: 74%; }
#routing_root .pc_layout .content .menus .item.blog .bg_icon._2 { right: -82%; top: 10%; width: 62%; }

/* ACTIVE */
#routing_root .pc_layout .content .menus .item.instagram.active .bg { background-color: #FDD65D; }
#routing_root .pc_layout .content .menus .item.youtube.active .bg { background-color: #E6291E; }
#routing_root .pc_layout .content .menus .item.blog.active .bg { background-color: #09C65B; }
#routing_root .pc_layout .content .menus .item.active .bg_icon.scale { transform: scale(1.18); }

@media screen and (max-height: 1440px) {
    /* PC GB */
    #routing_root .pc_layout .content .menus .item { width: 16%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg { bottom: 34%; left: -180%; width: 270%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg { top: -42%; left: 0; width: 410%; }
    #routing_root .pc_layout .content .menus .item.blog .bg { bottom: 38%; width: 300%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg_icon._1 { left: -68%; top: -60%; width: 90%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg_icon._2 { left: -116%; top: 38%; width: 36%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg_icon._3 { left: -84%; top: 28%; width: 39%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg_icon._1 { right: -48%; top: -24%; width: 29%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg_icon._2 { right: -220%; top: -92%; width: 35%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg_icon._3 { right: -164%; top: -56%; width: 66%; }
    #routing_root .pc_layout .content .menus .item.blog .bg_icon._1 { right: -130%; top: 6%; width: 82%; }
    #routing_root .pc_layout .content .menus .item.blog .bg_icon._2 { right: -110%; top: 6%; width: 64%; }
}

@media screen and (max-width: 1760px) {
    /* PC GB */
    #routing_root .pc_layout .content .menus .item { width: 16%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg { bottom: 34%; left: -180%; width: 270%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg { top: -42%; left: 0; width: 410%; }
    #routing_root .pc_layout .content .menus .item.blog .bg { bottom: 38%; width: 300%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg_icon._1 { left: -68%; top: -60%; width: 90%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg_icon._2 { left: -116%; top: 38%; width: 36%; }
    #routing_root .pc_layout .content .menus .item.instagram .bg_icon._3 { left: -84%; top: 28%; width: 39%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg_icon._1 { right: -48%; top: -24%; width: 29%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg_icon._2 { right: -220%; top: -92%; width: 35%; }
    #routing_root .pc_layout .content .menus .item.youtube .bg_icon._3 { right: -164%; top: -56%; width: 66%; }
    #routing_root .pc_layout .content .menus .item.blog .bg_icon._1 { right: -130%; top: 6%; width: 82%; }
    #routing_root .pc_layout .content .menus .item.blog .bg_icon._2 { right: -110%; top: 6%; width: 64%; }
}
@media screen and (max-width: 1140px) {
    /* PC GB */
    #routing_root .pc_layout { display: none; }

    /* MOBILE GB */
    #routing_root .m_layout { padding: 52px 24px 44px; display: flex; flex-direction: column; align-items: center; justify-content: space-around; height: 100%; }
    #routing_root .m_layout img { width: 100%; }
    #routing_root .m_layout .title { position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%; }
    #routing_root .m_layout .title h2 { width: 178px; height: 30px; line-height: 30px; border-radius: 30px; background-color: #000000; color: #ffffff; margin-bottom: 18px; font-family: "Pretendard", sans-serif; font-size: 19px; font-weight: normal; opacity: 0; animation: flipInX forwards 1.6s; }
    #routing_root .m_layout .title h1 { font-size: 37px; line-height: 1; margin-bottom: 6px; font-family: "GmarketSansBold", sans-serif; color: #000000; opacity: 0; animation: flipInX forwards 1.6s; }
    #routing_root .m_layout .title h1 .light { position: relative; top: -4px; display: inline-block; width: 36px; height: 36px; line-height: 36px; border-radius: 50%; font-family: "Pretendard", sans-serif; font-size: 24px; margin-right: 4px; color: #ffffff; transition: background-color .3s; }
    #routing_root .m_layout .title h1 .light.red { background-color: #111111; }
    #routing_root .m_layout .title h1 .light.yellow { background-color: #111111; }
    #routing_root .m_layout .title h1 .light.green { background-color: #111111; }
    #routing_root .m_layout .title h1 .light:last-child { margin-right: 0; }
    #routing_root .m_layout .content .item { margin-bottom: 18px; opacity: 0; }
    #routing_root .m_layout .logo { text-align: center; }
    #routing_root .m_layout .logo img { position: relative; left: -2px; width: 50%; }

    /* ACTIVE */
    #routing_root .m_layout .title h1 .light.red.active { background-color: #E6291E; }
    #routing_root .m_layout .title h1 .light.yellow.active { background-color: #FFC93D; }
    #routing_root .m_layout .title h1 .light.green.active { background-color: #08C45A; }
    #routing_root .m_layout .content .item.youtube.active { animation: flipInX forwards .3s; }
    #routing_root .m_layout .content .item.instagram.active { animation: flipInX forwards .3s; }
    #routing_root .m_layout .content .item.blog.active { animation: flipInX forwards .3s; }
}
